.midaTitol {
  font-size: 40px;
}

.big {
  font-size: 120px;
}

.left {
  text-align: left;
}

.centrat {
  text-align: center;
}

.right {
  text-align: right;
}

.titleblack {
  color: var(--secondary) !important;
}

.whiteFont {
  color: var(--white);
}

.titlebold {
  font-weight: bold;
}
