@media (min-width: 576px) {
  .qr-container {
    height: 100%;
    width: 40% !important;
  }

  .qr-container img {
    padding-top: 30px;
    width: 70%;
  }

  .bottom-container {
    width: 50%;
  }

  .join-container {
    width: 35% !important;
  }
}

.qr-container:hover {
  cursor: pointer;
}

#profile-image {
  position: relative;
  color: white;
  object-fit: cover;
  border-color: var(--primary) !important;
  border-width: 3px !important;
}

.main-screen {
  min-height: 100vh;
}