label {
  color: var(--text-secondary);
}

.stepper-horizontal {
  color: var(--text-secondary);
}
.stepper-step.active-step {
  color: #a40925;
}

.stepper-horizontal .stepper-step.active-step .stepper-title {
  color: #a40925 !important;
}

h1 {
  color: var(--text-secondary);
}
