.vertical-timeline {
  --line-color: var(--primary);
}

.vertical-timeline-element-content {
  box-shadow: 0 0px 0;
  color: var(--text-secondary);
  background-color: var(--transparent);
  background: var(--transparent);
}

.vertical-timeline-element-icon {
  background: var(--primary);
  box-shadow: 0 0 0 0px var(--primary);
}

.vertical-timeline-element-title {
  color: var(--text-secondary);
  text-decoration: underline;
  text-underline-offset: 0.3em;
  padding-bottom: 1em;
}

.vertical-timeline-element-description {
  color: var(--gray);
  font-size: 0.8em !important;
}

.vertical-timeline-element-content-arrow {
  display: none;
}
