.footer {
  background-color: var(--primary);
  color: var(--text-primary);
  padding: 50px;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: bold;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social-icons img {
  width: 30px;
  margin: 0 5px;
}

.made-by {
  margin-top: 20px;
}

.heart {
  color: var(--text-primary);
}

.hack-logo {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: auto;
}

.footer-links a {
  color: var(--text-primary);
  text-decoration: none;
}

.footer-links a:hover {
  color: var(--text-primary);
  font-weight: 10;
}
