


.IntroTexte{
    width: 40%;
    padding-left: 20px;
    text-align: left;
}

.left{
    text-align: left;
    margin-bottom: 2rem;
}

.right{
    text-align: right;
    margin-bottom: 2rem;
}




.contenedorx {
    display: flex;
    justify-content: center;
    width: 100%; /* Ancho total del contenedor */
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: auto;
}

.tarjeta {
    width: 240px; /* Ancho de cada tarjeta */
    background-color: #fff;
    box-shadow: 10px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
}

.tarjeta img {
    max-width: 100%;
    max-height: 200px; /* Altura máxima de la imagen */
}

.tarjeta h2 {
    margin-top: 10px;
}

.tarjeta p {
    margin-top: 10px;
}

.tarjeta button {
    margin-top: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tarjeta button:hover {
    background-color: var(--primary);
}

.tarjeta:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 2px 5px var(--gray);
}

.title3 {
    color: var(--black);
    padding-top: 5%;
    font-weight: bold;
    text-align: center;

}