@media (min-width: 576px)
{
    .qr-container{
        height: 100%;
        width: 40%;
    
    }

    .qr-container img{
        padding-top: 30px;
        width: 70%;
    }

    .bottom-container{
        width: 50%;
    }

}