@tailwind base;
@tailwind components;
@tailwind utilities;

.title-underline {
  color: var(--text-secondary);
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.2em;
  border-radius: 5px;
  padding-bottom: 1em;
}
.appear-animation {
  animation-name: appear;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
