@tailwind base;
@tailwind components;
@tailwind utilities;

.appear-animation {
  animation-name: appear;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


@font-face {
  font-family: 'DS-DIGI';
  src: url('../assets/fonts/ds_digital/DS-DIGI.TTF') format('truetype');
  font-weight: normal; /* Ajusta según el archivo */
  font-style: normal; /* Cambia a "italic" si es necesario */
}
