@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  font-family: "Space Mono", monospace;
}
body {
  margin: 0;
  width: 100%;
}

/* variables.css */

:root {
  --old-primary: #edab11;
  --primary-strong: #ac7c0e;
  --old-secondary: #232323;
  --white: #f5f5f5;
  --gray: #757575;
  --gray-light: #bbb8b8;
  --gray-light2: #e6e6e6;
  --gray-strong: #444343;
  --black: #0f0f0f;
  --transaprent: rgba(255, 255, 255, 0);

  --primary: #0e3a29;
  --new-primary-strong: #2F7D5F;
  --secondary:#F7F7F2;
  --text-primary: #f5f5f5;
  --text-secondary: #000000;
  --alt-primary: #2f7d5f;

}
