@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  font-family: "Space Mono", monospace;
}
body {
  margin: 0;
  width: 100%;
}

/* variables.css */

:root {
  --primary: #edab11;
  --primary-strong: #ac7c0e;
  --secondary: #232323;
  --white: #f5f5f5;
  --gray: #757575;
  --gray-light: #bbb8b8;
  --gray-light2: #e6e6e6;
  --gray-strong: #444343;
  --black: #000000;
  --transaprent: rgba(255, 255, 255, 0);
}
