@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
    font-family: 'Space Mono', monospace;
}
body{
    margin: 0;
    width: 100%;
}

/* variables.css */

:root {
    --groc: #EDAB11;
    --gris: #232323;
    --crema: #f5f5f5;
    --negre: #000000;
  }
  