label {
    color: #F5F5F5;
}

.stepper-horizontal {
    color: #F5F5F5;
}
.stepper-step.active-step {
    color: #A40925;
}

.stepper-horizontal .stepper-step.active-step .stepper-title {
    color: #A40925 !important;
}

h1 {
    color:#F5F5F5;
}