a {
  margin-right: 5%;
  color: white;
  text-decoration: none;
  font-size: 21px;
  width: 300;
}

#navegador {
  padding-top: 0.1rem;
  background-color: #a40925;
  height: auto;
  width: 100%;
}

#theBoxNav {
  text-align: center;
  width: 100%;
  height: auto; /*2.3vw*/
  position: absolute;
  top: 0%;
}

#theBoxNav .navlink {
  position: relative;
  list-style: none;
  display: inline-block;
  margin: 0;
}

#semicircle {
  display: none;
}

#firstnavlink {
  display: inline;
  padding: 0;
}

#firstnavlink li {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

#firstnavlink a:hover {
  color: #202225;
}

.fa-user {
  justify-self: start;
  font-size: 23px;
}

#icon2nav {
  text-align: right;
  float: right;
  padding: 0;
}

#icon1nav {
  text-align: left;
  padding-left: 1vw;
  float: left;
}

#logoLink {
  display: inline-block;
  height: auto;
}

#userimage {
  position: relative;
  width: 1rem;
  color: white;
  right: 1rem;
}

#llhlogo {
  width: 1rem;
  scale: 2.8;
}

.toggle {
  color: white;
  background: none;
  border: none;
  font-size: 1.5vw;
  display: none;
}

.togglet {
  background: none;
  border: none;
  float: left;
}

@media (max-width: 768px) {
  #pepe {
    display: none;
  }

  #icon1nav {
    visibility: hidden;
  }

  #llhlogo {
    width: 1.5rem;
  }

  #semicircle {
    display: block;
    width: 5rem;
    height: 1.4rem;
    background-color: #a40925;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 0.3rem;
  }

  #logoLink2 {
    position: relative;
    bottom: 60%;
  }

  #barsbtn {
    padding: 0;
    float: left;
  }

  .toggle {
    display: block;
  }

  .fa-bars {
    font-size: 1rem;
  }

  #icon2nav {
    right: 1rem;
  }

  #userimage {
    right: 0;
    padding-bottom: 1rem;
  }

  #loglnk {
    margin: 0;
  }
}

#navmobile {
  display: hidden;
  transition: opacity 0.5s;
}

@media (min-width: 768px) {
  .fadable {
    display: none;
  }
}

@media (max-width: 768px) {
  #navmobile {
    display: block;
    position: fixed;
    background-color: #a40925;
    width: 100%;
    height: 100rem;
  }

  .fa-xmark {
    display: inline-block;
    position: relative;
    text-align: left;
    font-size: 1.3rem;
    color: white;
    float: left;
    padding-left: 10px;
    padding-top: 5px;
  }

  #userimage {
    float: right;
    padding-right: 10px;
    padding-top: 5px;
  }

  #content {
    padding-top: 6rem;
    text-align: left;
  }

  .fadable {
    opacity: 0;
    z-index: -10;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    visibility: hidden;
  }

  .fade-in {
    visibility: visible;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
  }
}
