.main-title {
  width: 100vw;
  max-width: 100%;
  height: 20vh;
  max-height: 50%;
}

.main-title-image {
  width: 50px;
  height: auto;
}

.apuntat-button {
  color: var(--black);
  background-color: var(--white);
  border-radius: 4px;
}

.main-title-modal-button {
  font-size: 20px;
  background-color: var(--primary);
  box-shadow: 0 0 0 0px var(--primary);
  color: var(--white);
  border: none;
}

.main-title-modal-button:hover {
  background-color: var(--primary-strong);
}

.main-title-modal-button:focus {
  background-color: var(--primary-strong);
}

.main-title-modal-button:active {
  background-color: var(--primary-strong);
}

.button:hover {
  background-color: var(--primary-strong);
  transition: 0.7s;
}

.no-border {
  border: none;
}

.center-elements {
  display: flex;
  justify-content: center;
}

.fantasma {
  position: relative;
  top: -1000px;
}


.backgrounder{
  background-color: var(--primary);
  background-image: url(../../icons/icons_home.png);
  background-size: cover;
  max-height: 50vh;
  overflow: hidden;
}


.imagelogo{
  width: 12vw; 
  height: auto; 
  justify-content: center;
  text-align: center;
}

.rowe {
  display: flex; /* O cualquier otro estilo que necesites */
  justify-content: center;
  margin-bottom: 1vw;
  
}


.apuntat-button {

  display: inline-block; /* Asegura que el botón no desaparezca al hacer zoom */
}