.sponsors {
  width: 100vw;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  background: var(--white);

  font-size: 50px;
  font-family: "space mono";
  justify-content: center;
  text-align: center;
}
.sponsors p {
  font-size: 0.3em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contacta {
  font-size: 20px;
  size: 3vw;
  background-color: var(--primary);
  box-shadow: 0 0 0 0px var(--primary);
  color: var(--white);
  position: relative;
  border: none;
  border-radius: 4px;
  margin-bottom: 1.2vw;
  margin-top: 1.5vw;
  padding: 0.5vw;
}

.title1 {
  color: var(--secondary);
  padding-top: 2%;
  font-weight: bold;
  text-align: center;
}

.gostHunter {
  position: relative;
  top: -9.4vh;
}

.spnsection {
  display: flex;
  justify-content: center;
}

.cuadrados-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Espaciado uniforme entre las imágenes */
  max-width: 64%; /* Establece un ancho máximo para mantener la responsividad */
  margin: 0 auto; /* Centra el contenedor */
  margin: 2vw;
  align-items: center;
  gap: 3vw;
}

.cuadrado {
  width: 30%; /* Ancho de las imágenes con espacio entre ellas */
  height: 50%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Añade posición relativa para centrar las imágenes */
  transition:
    transform 0.3s ease-in-out,
    scale 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  border-radius: 20px;
  overflow: hidden;
  scale: 0.9;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ajusta la imagen al formato de la caja */
}

/* Estilo para centrar las dos últimas imágenes */

.cuadrado:hover {
  scale: 1.1;
  transform: translate(-3px, -4px);
  cursor: pointer;
}

@media (max-width: 768px) {
  .cuadrados-container {
    display: flex;
    flex-direction: column; /* Cambiar a una columna en dispositivos móviles */
    align-items: center; /* Centrar las imágenes horizontalmente */
    margin-top: 5vh;
  }

  .cuadrado {
    width: 63%; /* Ocupar todo el ancho disponible en dispositivos móviles */
    max-height: 300px; /* Altura máxima para controlar la relación de aspecto */
    margin-bottom: 2vw; /* Espacio inferior entre las imágenes */
    height: auto;
    overflow: hidden;
    border: none;
    border-radius: 0%;
  }

  /* Estilo para imágenes impares en dispositivos móviles */
  .cuadrado:nth-child(odd) {
    align-self: flex-start; /* Alinea las imágenes impares a la izquierda */
  }

  /* Estilo para imágenes pares en dispositivos móviles */
  .cuadrado:nth-child(even) {
    align-self: flex-end; /* Alinea las imágenes pares a la derecha */
  }
}

.cuadrados-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Espaciado uniforme entre las imágenes */
  max-width: 64%; /* Establece un ancho máximo para mantener la responsividad */
  margin: 0 auto; /* Centra el contenedor */
  margin: 2vw;
  align-items: center;
  gap: 3vw;
}

.cuadrado2 {
  width: 20%; /* Ancho de las imágenes con espacio entre ellas */
  max-height: 300px; /* Altura máxima para controlar la relación de aspecto */
  margin-bottom: 2vw; /* Espacio inferior entre las imágenes */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Añade posición relativa para centrar las imágenes */
  transition:
    transform 0.3s ease-in-out,
    scale 0.3s ease-in-out;
}

.sponsors-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* Tres filas */
  grid-template-columns: 1fr; /* Una columna */
  justify-items: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Espaciado uniforme entre las imágenes */
  max-width: 64%;
  border-radius: 20px;
  margin-bottom: 4vh;
}

.sponsor-group-group-1 {
  display: flex;
  width: 100%;
  justify-content: center;
  scale: 1.2;
}

.sponsor-group-group-2 {
  display: flex;
  width: 100%;
  scale: 0.9;
  justify-content: center;
}

.sponsor-group-group-3 {
  display: flex;
  width: 18%;
  scale: 0.5;
  justify-content: center;
}

.pepers {
  margin: 1.4rem;
  border-radius: 20px;
  padding: 0.4rem;
  max-width: 14%;
  height: auto;
  transition:
    transform 0.3s ease-in-out,
    scale 0.3s ease-in-out;
}

.pepers:hover {
  scale: 1.1;
  transform: translate(-3px, -4px);
  cursor: pointer;
}

@media (max-width: 998px) {
  .pepers {
    height: 5rem;
    scale: 1.6;
    border: none;
    padding: 1.2vw;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 25%; /*Si empitjora, s'elimina*/
  }

  .sponsor-group-group-2 {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    overflow: hidden;
    scale: 1.55;
    flex-wrap: wrap;
  }

  .sponsor-group-group-2 img {
    object-fit: contain;
    object-position: center;
    width: 13%;
    height: auto;
  }
}
