@media (max-width: 740px) { 
    .mobile{
        margin-right: 1rem;
    }

    .col {
        flex-direction: column;
    }
    .adjust {
        margin-left: -16px;
    }

    .ampli {
        margin-bottom: 500px; 
        margin-left: 1rem;
    }
}
