
.tot {
    width: 1080px;
    height: 544px;
    min-width: 1080px;
    min-height: 544px;
}

.topBar {
    width: 1048px;
    height: 48px;
    min-width: 1048px;
    min-height: 48px;
    background-color: black;
    margin-top: 16px;
    margin-left: 16px;
    position: absolute;
}

.eventsText {
    color: white;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    letter-spacing: -2%;
    font-size: 32px;
    line-height: 47.39px;
    margin-left: 16px;
}

.imatgeFix {
    margin-top: 80px;
    margin-left: 16px;
    margin-bottom: 16px;
    position: absolute;
}

.eventsContainer {
    width: 224px;
    height: 448px;
    min-width: 224px;
    min-height: 448px;
    margin-top: 64px;
    margin-left: 856px;
    margin-bottom: 16px;
    position: absolute;
}

.eventTop{
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.eventMiddle {
    margin-top: 160px;
    margin-left: 16px;
    margin-right: 16px;
}

.eventDown{
    margin-top: 304px;
    margin-left: 16px;
    margin-right: 16px;
}

.finalText{
    color: rgba(255, 116, 48, 1);
    font-family: "Space Mono", monospace;
    font-weight: 400;
    letter-spacing: -2%;
    font-size: 16px;
    line-height: 23.7px;
    margin-top: 504px;
    margin-left: 872px;
    position: absolute;
}