.contactField {
  width: 640px;
  height: 92px;
  min-width: 640px;
  min-height: 92px;
}

.fieldTitle {
  width: 135px;
  height: 30px;
  min-width: 135px;
  min-height: 30px;
  margin-top: 0px;
}

.contactTitleText {
  position: absolute;
}

.contactTitleSpan {
  margin-top: 0%;
  margin-left: 135px;
  color: rgba(229, 80, 16, 1);
}

input[type="text"] {
  width: 640px;
  height: 46px;
  min-width: 640px;
  min-height: 46px;
  margin-top: 46px;
  border: 1px solid rgba(149, 149, 149, 1);
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  font-size: 20px;
  font-weight: 400;
  line-height: 29.62px;
  letter-spacing: -2%;
}

.font {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  letter-spacing: -2%;
}

.textBase {
  font-size: 20px;
  line-height: 29.62px;
}
