.static_icon {
  color: #f7f7f7;
}

.base_icon {
  color: #f7f7f7;
  transition: color 0.1s ease-in-out;
}

.base_icon:hover {
  color: #232323;
}

.in_to_out {
  transform: rotate(180deg);
  position: relative;
}
